/* ===== LOADER ===== */
#loader{
  position:fixed;
  inset:0;
  background:rgba(9,20,35,0.75);
  backdrop-filter:blur(14px);
  z-index:9999;
  display:flex;
  justify-content:center;
  align-items:center;
  transition:opacity .8s ease, visibility .8s;
}

.loaderBox{
  padding:40px;
  border-radius:15px;
  background:rgba(255,255,255,0.06);
  backdrop-filter:blur(10px);
  box-shadow:0 0 40px rgba(0,0,0,0.5);
}

.progressBar{
  width:300px;
  height:8px;
  background:rgba(255,255,255,0.1);
  margin-top:20px;
  border-radius:10px;
  overflow:hidden;
}

.progressFill{
  height:100%;
  width:0%;
  background:#01b4e4;
  animation:loadingBar 3s linear forwards;
}

@keyframes loadingBar{
  from{width:0%}
  to{width:100%}
}
body{
  background:linear-gradient(135deg,#0d253f,#091f34);
  color:white;
  font-family:Arial;
  text-align:center;
  padding:20px;
}

body::before{
  content: "WILLIAM";
  position: fixed;
  top: 0;
  left: 0;
  width: 200%;
  height: 200%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 120px;
  font-weight: bold;
  color: rgba(255,255,255,0.04);
  transform: rotate(-30deg);
  pointer-events: none;
  z-index: 0;
}

body *{
  position: relative;
  z-index: 1;
}

.title{color:#01b4e4}
.sectionTitle{color:#90cea1;margin:20px}

.input{
  width:70%;
  padding:12px;
  margin:6px;
  border:none;
  border-radius:8px;
  background:rgba(255,255,255,0.08);
  color:white;
}

.btn{
  background:#01b4e4;
  color:white;
  padding:10px 20px;
  margin:5px;
  border:none;
  border-radius:6px;
  cursor:pointer;
}

.copy{background:#90cea1}

.grid{
  margin-top:15px;
  display:grid;
  grid-template-columns:160px auto;
  gap:12px;
  justify-content:center;
  align-items:center;
}

.imgPrev{
  width:150px;
  border-radius:6px;
  cursor:pointer;
}

.epName{
  color:#90cea1;
  font-weight:bold;
  font-size:14px;
}

.epLink{
  font-size:13px;
  opacity:.8;
}

.modal{
  position:fixed;
  inset:0;
  display:none;
  justify-content:center;
  align-items:center;
  background:rgba(0,0,0,0.9);
}

.modal-img{
  max-width:90%;
  max-height:90%;
}

.close{
  position:absolute;
  top:20px;
  right:30px;
  font-size:40px;
  cursor:pointer;
}

.footer{
  margin-top:40px;
  padding:15px;
  background:rgba(255,255,255,0.05);
  border-radius:10px;
}